@page
@model Proiect_Mercedes.Pages.Cars.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Photo)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Car.Photo" alt="Car Image" style="width: 300px; height: 150px;">
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.CarModelID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.CarModelID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.CarMotorID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.CarMotorID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.CarTransID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.CarTransID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.CarStateID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.CarStateID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.ManufacturingYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.ManufacturingYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Feature)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Feature)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Car.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
