@page
@model Proiect_Mercedes.Pages.Cars.IndexModel

@{
    ViewData["Title"] = "List of Cars";
}

<h1>Our Cars</h1>
<form method="post">
    <p>
        Filter by Model: <input asp-for="SearchString" />
        <input type="submit" class="btn btn-primary" value="Search">
        <br>
        Filter by State:
        <select asp-for="SelectedState">
            <option value="">Select State</option>
            <option value="New">New</option>
            <option value="Used">Used</option>
        </select>
         Filter by Category:
        <select asp-for="SelectedCategory">
            <option value="">Select Category</option>
            <option value="Family">Family</option>
            <option value="Sport">Sport</option>
            <option value="Luxury">Luxury</option>
        </select>
        <br>
    </p>
</form>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Category.CategoryType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Model.ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Motor.MotorType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Transmission.TransmissionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].State.StateType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].ManufacturingYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Feature)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Car)
        {
            <tr>
                <td>
                    <img src="@item.Photo" alt="Car Image" style="width: 300px; height: 150px;">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Motor.MotorType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Transmission.TransmissionType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State.StateType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufacturingYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Feature)
                </td>
                <td>

                    <!--daca utilizatorul este ADMIN daor el va vedea butoanele de editare-->
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> 
                        <a asp-page="./Details" asp-route-id="@item.ID">More Info</a> 
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    }
                    else
                    {
                        <a asp-page="./Details" asp-route-id="@item.ID">More Info</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>